nav {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: transparent;
  transition: background-color 0.3s ease-in-out;
}

nav.scrolled {
  background-color: #333;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 60px;
}

li {
  font-size: 18px;
}

.content {
  height: 2000px;
  background-color: #f2f2f2;
}
